.headers {
    text-align: center;
}
body {
    background-color: #d3d3d3;
    text-align: center;

}
.hyper {
    font-size: 22px;
}
h1 {
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}
.page2 {
    text-align: left;
}
.unordered {
    background-color: #F0FFFF;
    margin-left: 300px;
    margin-right: 300px; 
    font-size: 24px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    

}
.ordered {
    background-color: #F0FFFF;
    padding: 40px;
    font-size: 24px;
    
}
img {
    height: auto;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.headers.links {
    font-size: 32px
}
.headers.ingredients {
    font-size: 32px;
    background-color: #6495ed;
    font-weight: 1000;
    font-family: Helvetica, sans-sarif;
    margin-left: 300px;
    margin-right: 300px; 
   
}
.headers.steps {
    font-size: 32px;
    background-color: #6495ed;
    font-weight: 1000;
    font-family: Helvetica, sans-sarif;
}
.button {
    background-color: #F0FFFF;
    font-size: 20px;
    font-family: Helvetica;
    padding: 8px;
    text-align: center;
    
}
.page3 {
    text-align: left;
}
.page4 {
    text-align: left;
}